.ql-toolbar.ql-snow {
  background-color: rgb(218, 218, 218);
  padding: 10px 0 10px 0;
  border: none;
  border: 10px;
  border: 1px solid #070606;

}

body {
  margin-left: 50px;
}

.containers {
  border-radius: 20px;
  border: 10px;
  border: 1px solid #070606;
}

.ql-container ql-snow {
  border: none
}

.Button-cls {
  padding: 20px;
  background-color: aquamarine;
  color: aliceblue;
}

.quill {
  width: 40%;
}

.btn-cls {
  padding: 10px 30px;
  color: whitesmoke;
  background-color: green;
  margin-top: 60px;
}

.d2t {
  color: rgb(221, 216, 216);
}

@media only screen and (max-width: 1000px) {
  .box-size {
    width: 100%;
  }

  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .quill {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .box-size {
    width: 100%;
  }

  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .quill {
    width: 50%;
  }

}


@media only screen and (max-width: 450px) {
  .box-size {
    width: 100%;
  }

  body {
    margin-left: 15px;
    margin-right: 15px;
  }

}